<html ng-app='app'>
	<body ng-controller='controller'>

		<input name="filter" placeholder="Name" ng-model="personFilter.name">
		<input name="filter" placeholder="email" ng-model="personFilter.email">
		<input name="filter" placeholder="phone" ng-model="personFilter.phone">

		<ul ng-repeat="person in people | filter: personFilter"><strong>{{person.name}}</strong>
			<li>Email: {{person.email}}</li>
			<li>Phone: {{person.phone}}</li>
			<li>Start Date: {{person.dateEmployed}}</li>
		</ul>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
